
body{
font-family: "PTSans Regular";
font-size:13px;
line-height: 24px;
color:#000000;
}
h1{
font-family: "Cuprum Regular";
font-size: 30px;
text-transform: uppercase;
}
h2{
  font-family: "PTSans Bold";
font-size: 18px;
line-height: 20px;
}
